@tailwind base;
@tailwind components;
@tailwind utilities;

button:not(:disabled),
[role='button'],
input[type='file'],
input[type='checkbox'],
select {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
